In [1]:
s = {1, 2, 2, 3, 4, 5}
s

{1, 2, 3, 4, 5}

In [2]:
type(s)

set

In [ ]:
# Set is a collection of unique elements
# It is unordered, unindexed and immutable
s

{1, 2, 3, 4, 5}

In [ ]:
s[0] #throw an error and unordered and indexing cannot be done

TypeError: 'set' object is not subscriptable

In [ ]:
s[0] = 2 #throw an error as set is immutable

TypeError: 'set' object does not support item assignment

In [ ]:
max(s) #Maximum

5

In [ ]:
sum(s) #Sum

15

In [ ]:
min(s) #Minimum

1

In [ ]:
sorted(s) #Sorting

[1, 2, 3, 4, 5]

In [ ]:
#Set operations: intersection, union, subset, superset, difference and symmetric difference

set1 = {34, 67, 78, 100}
set2 = {67, 78}

In [ ]:
#Intersection
set1 & set2

{67, 78}

In [ ]:
#Intersection
set1.intersection(set2)

{67, 78}

In [ ]:
#Union
set1 | set2

{34, 67, 78, 100}

In [ ]:
#Union
set1.union(set2)

{34, 67, 78, 100}

In [ ]:
#Difference
set1-set2

{34, 100}

In [ ]:
#Difference
set1.difference(set2)

{34, 100}

In [ ]:
#Superset
set1.issuperset(set2)

True

In [ ]:
#Subset
set1.issubset(set2)

False

In [ ]:
#Subset
set2.issubset(set2)

True

In [ ]:
#Superset
set2.issuperset(set1)

False

In [ ]:
#Symmetric Difference

set1 = {34, 67, 78, 100}
set2 = {67, 78, 102}

set1 ^ set2

{34, 100, 102}

In [24]:
set1.symmetric_difference(set2)

{34, 100, 102}